<div class="overview-container">
  <select (change)="switchLanguage($event.target.value)">
    <option value="de">Deutsch</option>
    <option value="en">English</option>
  </select>
  
    <h2>Pregled lokacija</h2>
  
    <div *ngIf="isLoading">Učitavanje podataka...</div>
  
    <table *ngIf="locationsSummary.length > 0">
      <thead>
        <tr>
          <th>{{ 'LOCATION' | translate }}</th>
          <th>{{'VOLUME' | translate }}</th>
          <th>{{ 'COMP-TREE-COUNT' | translate }}</th>
          <th>{{ 'COMMON_SPECIES' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loc of locationsSummary">
          <td>{{ loc.locationName }}</td>
          <td>{{ loc.totalVolume | number: '1.2-2' }}</td>
          <td>{{ loc.totalTrees }}</td>
          <td>{{ loc.mostCommonSpecies }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="!isLoading && locationsSummary.length === 0">
      Nema dostupnih podataka za prikaz.
    </div>
  </div>
  