<div class="tree-form">
  <h2>{{'TREE-INPUT'|translate}}</h2>

  <label>{{'SPECIES'|translate}}</label>
  <input list="speciesList" [(ngModel)]="tree.species" [placeholder]="'SPH'|translate"/>
  <datalist id="speciesList">
    <option *ngFor="let species of topSpecies" [value]="species.species" [title]="species.description">
      {{ species.species }}
    </option>
    
  </datalist>
  

  <label>{{"DIAMETER"|translate}}</label>
  <input type="number" [(ngModel)]="tree.diameter" class="form-control" [placeholder]="'EXMP'|translate" />

  <label>{{"HEIGHT"| translate}}</label>
  <input type="number" [(ngModel)]="tree.height" class="form-control" [placeholder]="'EXMP-2'|translate" />

  <label>{{"COUNT"|translate}}</label>
  <input type="number" [(ngModel)]="tree.quantity" class="form-control" [placeholder]="'EXMP-3'|translate" />
  
  <label>{{"FORML"|translate}}</label>
  <select [(ngModel)]="formula" class="form-control">
    <option value="smalian">{{"SML"|translate}}</option>
    <option value="huber">{{"HBR"|translate }}</option>
  </select>

  <div class="btn-group">
    <button (click)="calculate()" class="btn-calc">{{"CALC-VLM" | translate}}</button>
   
  </div>

  <div *ngIf="loading" class="loading-text">{{"CALC-VLM2"|translate}}</div>

  <div *ngIf="resultVolume !== null && !loading" class="result-box">
    <strong>{{"VLM2"|translate}}</strong> {{ resultVolume | number: '1.2-2' }} m³
  </div>

<div class="species-list">
  <h3>Najzastupljenije vrste drveta (Unsko-sanski kanton)</h3>
  <ul *ngIf="topSpecies.length > 0">
    <li *ngFor="let species of topSpecies">
      <strong>{{ species.species }}</strong>: {{ species.description }}
    </li>
  </ul>
</div>
