<div class="density-container">
  <h2>{{ 'INPUT' | translate }}</h2>

  <form [formGroup]="densityForm" (ngSubmit)="onSubmit()">
    <label for="species">{{ 'SPECIES' | translate }}</label>
    <select formControlName="species" required>
      <option *ngFor="let species of treeSpeciesList" [value]="species">{{ species }}</option>
    </select>

    <label for="height">{{ 'HEIGHT' | translate }}</label>
    <input type="number" formControlName="height" min="1" required />

    <label for="diameter">{{ 'DIAMETER' | translate }}:</label>
    <input type="number" formControlName="diameter" min="1" required />

    <label for="treeCount">{{ 'COUNT' | translate }}</label>
    <input type="number" formControlName="treeCount" min="1" required />

    <label for="locationName">{{ 'LOCATION' | translate }}</label>
    <input type="text" formControlName="locationName" required />

    <div class="btn-group-horizontal">
      <button type="button" class="btn-add" (click)="addTree()">
        {{ 'ADDTREE' | translate }}
      </button>
      <button type="submit" class="btn-save">
        {{ 'SAVE' | translate }}
      </button>
    </div>

    <div *ngIf="treesToSave.length > 0">
      <h4>{{ 'READY' | translate }}</h4>
      <ul>
        <li *ngFor="let t of treesToSave">
          {{ t.species }} - {{ t.height }}m, {{ t.diameter }}cm, {{ t.treeCount }} {{ 'TREE' | translate }}
        </li>
      </ul>
    </div>
  </form>
</div>

