.density-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: #1976d2;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0;
}

.success {
    margin-top: 15px;
    color: green;
}
.error {
    margin-top: 15px;
    color: red;
}
.btn-group-horizontal {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn-add {
    background-color: #1976d2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-add:hover {
    background-color: #28a745;

}

.btn-save {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-save:hover {
    background-color: #218838;
}