<div class="search-container">

  <!-- Forma za pretragu -->
  <div class="search-form">
    <h2>{{'SRC'|translate}}</h2>
    <form (ngSubmit)="onSearch()">
      <label for="species">{{'SPECIES'|translate}}</label>
      <input type="text" [(ngModel)]="searchSpecies" name="species" />

      <label for="location">{{'LOCATION' | translate }}</label>
      <input type="text" [(ngModel)]="searchLocation" name="location" />

      <button type="submit">{{ 'SRC-S'|translate}}</button>
    </form>

    <!-- Rezultati pretrage -->
    <div *ngIf="results.length > 0">
      <h3>{{'RESULT' | translate}}</h3>
      <ul>
        <li *ngFor="let r of results">
          {{ r.species }} – {{ r.height }}m, {{ r.diameter }}cm, {{ r.treeCount }} {{'TREE'|translate}}, {{ r.locationName }}
        </li>
        
  <li *ngIf="successMessage" class="success">{{ successMessage }}</li>
  <li *ngIf="errorMessage" class="error">{{ errorMessage }}</li>
      </ul>
    </div>
    

    <div *ngIf="results.length === 0 && searched">
      <p>{{"DATA" | translate}}</p>
    </div>
  </div>
  
  